<form action='/recipes/create' method="POST" enctype="multipart/form-data">
    <input type="text" name="title" placeholder="Dish Title">
    <input type="text" name="level" placeholder="Dish Prep Level">
    <input type="text" name="cuisine" placeholder="Cuisine">
    <input type="text" name="dishType" placeholder="Dish Type">
    <input type="text" name="duration" placeholder="Preparation time">
    <input type="text" name="creator" placeholder="Dish Creator">
    <input type="text" name="image" placeholder="Dish Picture">
    <input type="file" name="preparationSteps" placeholder="Preparation Steps">
    <button type="submit">Add</button>
</form>